#listusers-form {
    width:100%;
}
#listusers-form select {
    min-width: 160px;
}
#listusers-form select option {
    margin-bottom: 3px;
    padding: 0px 5px;
}
#listusers-form .formControls input {
    min-width: 100px;
}

#listusers-form .field,
#listusers-form .formControls {
    float: left;
    clear: none;
    width: 40%;
    min-width: 390px;
}

#listusers-form .formControls {
    width: 100px;
    min-width: 100px;
    margin-top: 69px;
}

#listusers-form .formControls #form-buttons-reset {
    background: transparent;
    border: none;
    cursor: pointer;
}

#listusers-form .fieldErrorBox {
    color: red;
    margin: 10px 15px 15px 10px;
}
